body {
    margin: 0;
    padding: 0;
    background-color: #f3f6fd;
    overflow-x: hidden;
}


/* start nav bar-----------------------------------------------------------------------------------------------------------------------*/


/* ===== NAVBAR SECTION ===== */

.navbar-brand {
    color: red;
    padding: 0 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}

.nav-menu {
    background: transparent;
    padding: 30px;
    position: absolute;
    width: 100%;
    z-index: 9999;
    transition: all .4s;
    margin-top: -50px;
    ;
}

.nav-item {
    padding: 0 10px;
}

.menu-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}

.navbar-toggler {
    cursor: pointer;
    outline: 0;
    background-color: black;
}

.ham {
    transition: width 0.3s;
    background: #F9F8F7;
}

.line1,
.line3 {
    width: 28px;
    height: 2px;
    margin: 6px;
    transition: 0.4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
    transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item {
    color: red;
    font-size: 15px;
}

.dropdown-item {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.costum-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000 !important;
    position: fixed;
    height: 60px
}


/*start media styles*/

@media (max-width:34em) {
    .nav-menu {
        background: #000 !important;
    }
}

@media (max-width: 34em) {
    .menu-item {
        padding: 10px 10px 10px;
    }
}

@media screen and (min-width:0px) and (max-width:991px) {
    #myNavbar {
        background-color: black;
    }
    .menu-item {
        color: white;
    }
}


/*end media styles*/


/*end navbar*/


/*start container of cards and cards style*/

.title {
    text-align: center;
    color: #0059a7;
}

.container {
    margin: 0 auto;
    padding: 0 8px;
}

.cont-cards {
    margin-top: 50px;
}

.container .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 -8px;
}

.container .row .column {
    padding: 0 8px;
    margin-bottom: 8px;
}

.card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 350px;
    height: 100%;
    ;
    height: auto;
    text-align: center;
    cursor: pointer;
}

.card * {
    box-sizing: border-box;
}

.card:hover .top-layer,
.card.active .top-layer {
    opacity: 1;
}

.card:hover .bottom-layer .person-name-container,
.card.active .bottom-layer .person-name-container {
    display: none;
}

.card .bottom-layer {
    display: block;
}

.card .bottom-layer img {
    width: 100%;
    height: 100%;
    display: block;
}

.card .bottom-layer .person-name-container {
    height: 90px;
    background-color: #deedff;
    position: absolute;
    width: 350px;
    bottom: 0;
    opacity: 0.98;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .top-layer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(222, 237, 255, 0.9);
    color: #fff;
    padding: 10px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.card .top-layer .top-layer-text-container {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
}

.card .top-layer .person-bio {
    font-family: latoregular;
    font-size: 16px;
    color: #606060;
    line-height: 20px;
}

.card .person-name {
    font-family: latoregular;
    color: #0059a7;
    font-size: 21px;
    line-height: 23px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    margin: 0;
}

.card .orange-border {
    border-bottom: 3px solid red;
    font-size: 0;
    width: 84px;
    margin: 5px auto 0;
}

.card-group1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media screen and (min-width:750px) and (max-width:991px) {
    .card-group1 {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
}

.card-group1 .column {
    padding: 10px;
}


/*end container of cards and cards style*/


/*start jump button style*/

#top {
    opacity: 0.3;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 10px;
    display: none;
}

#top:hover {
    opacity: 1;
}


/*end jump button style*/